* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f4f8f9;
}

.container {
  width: 100%;
  height: 100vh;
  /********************************************
                  ESTILOS GENERALES
    *********************************************/
}
.container .content {
  /***************************************
                     ASIDE
  **************************************/
}
.container .content .section_aside,
.container .content .one_section_aside,
.container .content .two_section_aside,
.container .content .three_section_aside {
  padding: 0.5rem 0;
}
.container .content .icon_drop {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content .icon_drop.resize_icon_drop {
  display: none;
  visibility: hidden;
}
.container .content .items_desplegable {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 1.25rem;
  color: #747474;
  border: none;
  outline: none;
  background: none;
  font-family: "Raleway", sans-serif;
}
.container .content .item_icon_link,
.container .content .user {
  width: 95%;
  margin-left: 2.5%;
}
.container .content .item_icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.container .content .item_icon li {
  position: relative;
  width: 100%;
  font-size: 0.9rem;
  list-style: none;
}
.container .content .item_icon li .item_icon_link {
  cursor: pointer;
}
.container .content .item_icon li.resize_submenu {
  display: none;
}
.container .content .item_icon li .list_submenu {
  width: 100%;
  display: flex;
  list-style: none;
}
.container .content .item_icon li .list_submenu .button_submenu {
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}
.container .content .item_icon li .list_submenu a {
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  height: 100%;
  color: #747474;
}
.container .content .item_icon li .list_submenu a:hover {
  border-radius: 30px;
  background-color: rgba(182, 182, 182, 0.11);
  color: #fed918;
}
.container .content .premium_collage {
  text-transform: uppercase;
}
.container .content .content_submenu_nav_aside {
  width: 80%;
  height: 0;
  margin-left: 15%;
  transition: all 0.3s;
}
.container .content .content_submenu_nav_aside.colapse {
  overflow: hidden;
}
.container .content .buton_combo {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .content .buton_combo span {
  display: flex;
  align-items: center;
}
.container .content .button_details {
  outline: none;
  background: transparent;
  padding: 5px 1em;
  border-radius: 30px;
  cursor: pointer;
}
.container .content .button_hover {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container .content .button_hover:hover {
  background-color: rgba(182, 182, 182, 0.11);
  border-radius: 50%;
}
.container .content .hover_shadow:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.32);
}
.container .content aside {
  width: 18rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  flex-wrap: nowrap;
  transition: all 0.2s;
  z-index: 2;
  border-right: 1px solid #dadada;
}
.container .content aside.resize {
  width: 4.25rem;
}
.container .content aside header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dadada;
}
.container .content aside header .iconHamburguer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content aside header .iconHamburguer li {
  list-style: none;
  width: 100%;
  padding: 20px 1.5rem;
  display: flex;
}
.container .content aside header .iconHamburguer li span {
  cursor: pointer;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content aside header .iconHamburguer li span.logo img {
  width: 120px;
  height: 27px;
  object-fit: cover;
}
.container .content aside header .iconHamburguer li span.logo.resize_logo {
  display: none;
}
.container .content aside nav {
  width: 100%;
  display: flex;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.container .content aside nav::-webkit-scrollbar {
  width: 1px;
}
.container .content aside nav::-webkit-scrollbar-thumb {
  background: #747474;
  border-radius: 5px;
}
.container .content aside nav .aside_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
  padding: 0 0 2em 0;
}
.container .content aside nav .aside_menu .one_section_aside {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.container .content aside nav .aside_menu .one_section_aside .item_icon:hover .icon_nav_aside, .container .content aside nav .aside_menu .one_section_aside .item_icon:hover .text_aside {
  color: #ff5722;
  filter: grayscale(0);
}
.container .content aside nav .aside_menu .two_section_aside,
.container .content aside nav .aside_menu .three_section_aside {
  border-bottom: 1px solid #dadada;
}
.container .content aside nav .aside_menu .two_section_aside .item_icon:hover .icon_nav_aside, .container .content aside nav .aside_menu .two_section_aside .item_icon:hover .text_aside {
  color: #fed918;
  filter: grayscale(0);
}
.container .content aside nav .aside_menu .three_section_aside:hover .item_icon:hover .icon_nav_aside, .container .content aside nav .aside_menu .three_section_aside:hover .item_icon:hover .text_aside {
  color: #3dc64d;
  filter: grayscale(0);
}
.container .content aside nav .aside_menu .item_icon li .user {
  justify-content: space-between;
  cursor: pointer;
}
.container .content aside nav .aside_menu .item_icon li .user .icon_avatar {
  flex: none;
}
.container .content aside nav .aside_menu .item_icon li .user:hover {
  border-radius: 5px;
  background: rgba(182, 182, 182, 0.11);
}
.container .content aside nav .aside_menu .item_icon li .user .user_dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  white-space: nowrap;
}
.container .content aside nav .aside_menu .item_icon li .user .user_dates h4 {
  font-weight: 500;
}
.container .content aside nav .aside_menu .item_icon li .user .user_dates p {
  margin-top: 0.3em;
  font-size: 0.8em;
}
.container .content aside nav .aside_menu .item_icon li .user .user_dates.resize_user_dates {
  display: none;
}
.container .content aside nav .aside_menu .item_icon li .item_icon_link:hover {
  background: rgba(182, 182, 182, 0.11);
  border-radius: 30px;
}
.container .content aside nav .aside_menu .item_icon li .item_icon_link .icon_nav_aside {
  flex: none;
  margin-right: 12px;
  filter: grayscale(100%);
}
.container .content aside nav .aside_menu .item_icon li .item_icon_link .icon_nav_aside img {
  width: 100%;
  height: 100%;
}
.container .content aside nav .aside_menu .item_icon li .item_icon_link .text_aside {
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: nowrap;
  flex-direction: row;
  white-space: nowrap;
}
.container .content aside nav .aside_menu .item_icon li .item_icon_link .text_aside.resize_text {
  width: 100%;
  display: none;
}
.container .content main {
  position: relative;
  width: calc(100% - 18rem);
  margin-left: 18em;
  transition: all 0.2s;
  min-height: 100%;
}
.container .content main.resize_main {
  width: calc(100% - 4.25rem);
  margin-left: 4.25rem;
}
.container .content main .header_main {
  padding: 1.5rem 10px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: #ffd600;
}
.container .content main .header_main .header_icons {
  display: flex;
  justify-content: flex-end;
}
.container .content main .header_main .header_icons span {
  margin-left: 1rem;
}
.container .content main .header_main .header_icons span img {
  cursor: pointer;
}
.container .content main .header_main h4 {
  color: #ffffff;
  font-weight: 400;
}
.container .content main .contnet_panel_collapse {
  width: 20rem;
  padding: 1rem 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}
.container .content main .contnet_panel_collapse .panel_search {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 2fr;
  align-items: center;
  align-content: center;
  margin-bottom: 1em;
  grid-gap: 10px;
}
.container .content main .contnet_panel_collapse .panel_search .input_search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .content main .contnet_panel_collapse .panel_search .input_search span {
  position: absolute;
  left: 0px;
  padding-bottom: 0.5rem;
}
.container .content main .contnet_panel_collapse .panel_search .input_search input {
  width: 100%;
  padding-left: 1.5rem;
  outline: none;
  font-family: "Raleway", sans-serif;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid #adadad;
  background-color: #f4f8f9;
}
.container .content main .contnet_panel_collapse .panel_search .search_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content main .contnet_panel_collapse .panel_search .search_icons img {
  cursor: pointer;
}
.container .content main .contnet_panel_collapse .text_filter {
  width: 100%;
  margin-bottom: 1em;
  color: #747474;
}
.container .content main .contnet_panel_collapse .text_filter span {
  display: flex;
  font-size: 0.8em;
}
.container .content main .contnet_panel_collapse .text_filter span p {
  margin-left: 0.1rem;
}
.container .content main .contnet_panel_collapse .text_filter span p.premium_collage {
  text-transform: uppercase;
}
.container .content main .contnet_panel_collapse .search_students {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.container .content main .contnet_panel_collapse .search_students p {
  font-size: 0.9rem;
  color: #747474;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo {
  position: relative;
  height: 100%;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .button_anho {
  width: 75%;
  margin-bottom: 1em;
  padding: 10px 8px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  color: #747474;
  cursor: pointer;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .button_anho:hover {
  background-color: #e4e4e4;
  border-radius: 5px;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .button_anho .content_anho {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu {
  width: 100%;
  margin-left: 0;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu {
  border: 1px solid #747474;
  border-radius: 10px;
  margin-bottom: 1em;
  flex-direction: column;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu.active_sub_menu {
  overflow: hidden !important;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu.active_sub_menu.activa_menu {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 1rem 0;
  overflow: visible !important;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu .sub_menu_modal {
  display: flex;
  flex-direction: column;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu .sub_menu_modal .sub_menu_aside_text.one {
  text-transform: uppercase;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu .sub_menu_modal .sub_menu_aside_fraction {
  color: #3dc64d;
  border-bottom: 1px solid #3dc64d;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .item_icon .content_submenu .list_submenu .sub_menu_modal li {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .icons_anho {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  padding: 7px 0;
}
.container .content main .contnet_panel_collapse .content_anho_lectivo .icons_anho span {
  cursor: pointer;
}
.container .content main .container_informacion {
  position: relative;
  display: grid;
  position: relative;
  grid-template-columns: 11fr 1fr;
}
.container .content main .container_informacion .content_informacion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 20rem;
  position: relative;
  margin-top: -4rem;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #ffffff;
  height: 850px;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .avatar_colapse {
  padding: 0;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .avatar_colapse .content_avatar {
  display: flex;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .avatar_colapse .content_avatar .user_avatar {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .avatar_colapse .content_avatar .user_avatar h4 {
  font-weight: 400;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .avatar_colapse .icon_label {
  cursor: pointer;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .title_student p {
  color: #747474;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .dates_students,
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula,
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .brothers,
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .family {
  color: #adadad;
  margin-bottom: 1em;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .dates_students .item_dates {
  list-style: none;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .dates_students .item_dates .student {
  color: #0051ff;
  border: 1px solid #0051ff;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1em;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_details p {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  justify-content: center;
  font-size: 0.8em;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_school {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  align-items: center;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_school .name p {
  font-size: 0.8rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_school .name p.mayuscula {
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_school .icon_matricula {
  display: flex;
  justify-content: flex-end;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_school .icon_matricula span {
  cursor: pointer;
  margin-left: 1rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .matricula .matricula_school .aulas {
  margin-top: 1em;
  color: #ffd600;
  border: 1px solid #ffd600;
  width: 140px;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .brothers .content_images_icon {
  display: flex;
  align-items: center;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .brothers .content_images_icon .add_image_brother {
  margin-left: 1rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .images_brothers,
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .images_family {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .images_brothers span,
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .images_family span {
  width: 32px;
  height: 32px;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .images_brothers span img,
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .images_family span img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup {
  width: 85%;
  position: absolute;
  top: 45px;
  right: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px 0;
  z-index: -1;
  transition: all 0.2s;
  opacity: 0;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup.active_poppup_details {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup li .button_poppup {
  padding: 12px 5px;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup li .button_poppup:hover {
  background-color: rgba(182, 182, 182, 0.11);
  border-radius: 5px;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup li .button_poppup .icon_details_poppup {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup li .button_poppup .icon_details_poppup img {
  width: 100%;
  height: 100%;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup li .button_poppup span {
  margin-left: 0.5rem;
}
.container .content main .container_informacion .content_informacion .collapse_informacion .content_colpse_details .detail_poppup li .button_poppup.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
.container .content main .container_informacion .content_informacion .main_informacion {
  background-color: #ffffff;
  border-left: 1px solid #adadad;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container .content main .container_informacion .content_informacion .main_informacion .content_navegacion_tabs .navegacion_tabs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #adadad;
  position: relative;
}
.container .content main .container_informacion .content_informacion .main_informacion .content_navegacion_tabs .navegacion_tabs li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.container .content main .container_informacion .content_informacion .main_informacion .content_navegacion_tabs .navegacion_tabs li:hover {
  background-color: #f4f8f9;
}
.container .content main .container_informacion .content_informacion .main_informacion .content_navegacion_tabs .navegacion_tabs li button {
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}
.container .content main .container_informacion .content_informacion .main_informacion .content_navegacion_tabs .navegacion_tabs li button.active_button_tab {
  color: #ffd608;
  border-bottom: 3px solid #3283dfb9;
  line-height: 2rem;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon {
  position: absolute;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: #adadad;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__title {
  padding: 0.8rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 -1px 0 #adadad inset;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__title.active {
  box-shadow: none;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__title:hover {
  background-color: #f4f8f9;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__title i {
  float: right;
  transition: transform 0.3s;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__title.active i {
  transform: rotate(90deg);
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content {
  padding: 0 1rem;
  line-height: 0;
  background-color: #ffffff;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon {
  width: 70%;
  margin-left: 5%;
  display: none;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon.active_item_acordeon {
  height: 100%;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1em;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button.select_button_content {
  margin-bottom: 0;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button .select_button {
  background: rgba(224, 224, 224, 0.685);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button .select_button.school_button {
  width: 280px;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button .select_button:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li {
  list-style: none;
  margin-bottom: 1em;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion {
  width: 200px;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion.activa_submenu_combo {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 10px 0;
  overflow: visible !important;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion.activa_submenu_combo.lista_religion .religion {
  background: transparent;
  border: none;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion .submenu_combo_desplegable {
  margin: 0;
  padding-left: 10%;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion .submenu_combo_desplegable li {
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion .submenu_combo_desplegable li:hover {
  background-color: rgba(182, 182, 182, 0.11);
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button li.lista_religion .submenu_combo_desplegable li p {
  color: #747474;
  font-size: 0.8rem;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .container_button .school {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .pregunt {
  font-size: 0.9rem;
  color: #747474;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .pregunt.two_pregunt p {
  margin-bottom: 1em;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .pregunt .add_responsable {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .pregunt .add_responsable.one_responsable {
  padding: 20px 0;
  margin-left: 1.5rem;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content .box_items_acodeon .pregunt .add_responsable p {
  margin-left: 1rem;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content.active {
  padding: 1rem;
  line-height: 1.4;
  opacity: 1;
  border-bottom: 1px solid #adadad;
}
.container .content main .container_informacion .content_informacion .main_informacion .main_acordeon .accordion__content.active .box_items_acodeon {
  display: flex;
  flex-direction: column;
}
.container .content main .container_informacion .content_button_add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 0;
  margin-top: -2rem;
}
.container .content main .container_informacion .content_button_add .button_add,
.container .content main .container_informacion .content_button_add .button_icons_desplegable {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.container .content main .container_informacion .content_button_add .button_add {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.container .content main .container_informacion .content_button_add .button_add span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content main .container_informacion .content_button_add .button_add.active_button_add {
  transform: rotate(45deg);
}
.container .content main .container_informacion .content_button_add .button_add .button_icons_desplegable {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content main .container_informacion .content_button_add .box_button_icons {
  display: flex;
  visibility: hidden;
  height: 0;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s;
  flex-direction: column;
}
.container .content main .container_informacion .content_button_add .box_button_icons span {
  margin-top: 0.5rem;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.container .content main .container_informacion .content_button_add .box_button_icons.active_icons_button {
  visibility: visible;
  height: 300px;
}

/*# sourceMappingURL=styles.css.map */
